<%- include ('partials/header.ejs') %> <!--Partials importando Header-->
<body>
  <div class="containerForm">
    <div class="card">
      <div class="card-body">
        <h1 class="card-titulo">Resposta Enviada!</h1>
        <p class="card-texto">Sua resposta foi enviada com sucesso.</p>
        <a class="btn btn-primary" href="/">Voltar</a>
      </div>
    </div>
  </div>
</body>
</html>
